.Dictionary {
  padding: 20px;
}
.search-input {
  border-radius: 6px;
  border: 1px solid grey;
  width: 80%;
  padding: 10px;
  margin: 20px 0px;
  font-size: 20px;
}

.search-button {
  padding: 10px;
  margin: 20px 0px 20px 5px;
  border: 1px solid grey;
  border-radius: 6px;
  font-size: 20px;
  transition: all 150ms ease-in-out;
  background: #efefef;
  color: black;
}

.search-button:hover {
  background: #c5d6d9;
}

.Dictionary h2 {
  padding-top: 10px;
}

@media (max-width: 768px) {
  .Dictionary {
    padding: 0px;
  }
  .search-button,
  .search-input {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
  .Dictionary h2 {
    text-align: center;
  }
  .Results h2 {
    text-align: left;
  }
}
